<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <checkout_discount_display>
            <general>
                <enable_messages_cart>1</enable_messages_cart>
                <enable_messages_minicart>1</enable_messages_minicart>
                <enable_messages_graphql>1</enable_messages_graphql>
            </general>
        </checkout_discount_display>
    </default>
</config>
