<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="PixelPerfect\CheckoutDiscountDisplay\Api\ConfigInterface"
                type="PixelPerfect\CheckoutDiscountDisplay\Service\Config"/>
    <preference for="PixelPerfect\CheckoutDiscountDisplay\Api\AffiliateDiscountResolverInterface"
                type="PixelPerfect\CheckoutDiscountDisplay\Service\AffiliateDiscountResolver"/>
    <preference for="PixelPerfect\CheckoutDiscountDisplay\Api\ItemPriceResolverInterface"
                type="PixelPerfect\CheckoutDiscountDisplay\Service\ItemPriceResolver"/>
    <preference for="PixelPerfect\CheckoutDiscountDisplay\Api\ItemMessageServiceInterface"
                type="PixelPerfect\CheckoutDiscountDisplay\Service\ItemMessageService"/>

    <type name="PixelPerfect\CheckoutDiscountDisplay\Service\AffiliateDiscountResolver">
        <arguments>
            <argument name="affiliateQuoteResolver" xsi:type="null"/>
        </arguments>
    </type>
</config>
