<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="checkout_discount_display" translate="label" type="text" sortOrder="301"
                 showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Checkout Discount Display</label>
            <tab>sales</tab>
            <resource>Magento_SalesRule::config_promo</resource>
            <group id="general" translate="label" type="text" sortOrder="10"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enable_messages_cart" translate="label comment" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Messages on Cart Page</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Show per-item discount messages on the full cart page.</comment>
                </field>
                <field id="enable_messages_minicart" translate="label comment" type="select" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Messages in Mini Cart</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Show per-item discount messages in the mini cart (cart drawer).</comment>
                </field>
                <field id="enable_messages_graphql" translate="label comment" type="select" sortOrder="30"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Messages in GraphQL</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Expose per-item discount messages via the GraphQL API.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
